# directory
.vscode
template
build
shakespeare_works
shakespeare-master
invIndex-speedTest
peer-review

# meaningless files
count_sum.xlsx
plan.png
一些可能重要的.md

# executable files
miniSearchEngine
getStopWord
invIndexTest
searchTest


